@import '@/assets/styles/common';

.PostItem {
  padding-bottom: 16px;
  margin-bottom: 16px;

  :global {
    .ant-skeleton.ant-skeleton-element {
      width: 100%;
      height: 120px;
    }

    .ant-skeleton-image {
      width: 100%;
      height: 100%;
    }
  }

  &__thumb {
    border-radius: 4px;
    margin-bottom: 8px;

    a {
      overflow: hidden;
    }

    @include for-desktops-lg {
      margin-bottom: 0;
    }

    img {
      border-radius: 4px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a:hover {
      color: $color-purple;
    }

    &-title {
      height: 50px;

      a {
        font-size: 18px;
        color: $color-05;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-height: 1.35;
        text-align: justify;
      }
    }

    &-desc {
      height: 72px;

      a {
        color: $color-75;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        line-height: 1.5;
        text-align: justify;
      }
    }

    &-link {
      a {
        color: $color-75;
        font-style: italic;
        font-size: 12px;
      }
    }
  }
}
