@import '@/assets/styles/common';

.message {
  &__wrapper {
    position: fixed;
    right: 16px;
    bottom: 72px;
    width: 40px;
    height: 40px;
    background-color: #0a7cff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  width: 24px;
  height: 24px;
}

.backTop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: $color-yellow;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  bottom: 16px !important;
  right: 16px !important;

  .icon {
    background-color: $color-yellow;

    svg path {
      fill: white;
    }
  }
}
