// animations
$fast-animation: 0.1s ease;
$medium-animation: 0.3s ease;
$slow-animation: 0.5s ease;
$slowest-animation: 1s ease;

// shadow
$common-shadow: 0px 4px 24px 0px rgba(140, 140, 140, 0.15);
$common-shadow-hover: 0px 4px 24px 0px rgba(140, 140, 140, 0.35);
