$xxl: 1600px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$phones: 575px;
$phones-smaller: 375px;

@mixin for-desktops-xxl {
  @media screen and (min-width: $xxl) {
    @content;
  }
}
@mixin for-desktops-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin for-desktops-lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin for-tablets {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin for-tablets-sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin for-phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin for-phones-smaller {
  @media screen and (max-width: $phones-smaller) {
    @content;
  }
}
